# Analysing info about driver's licenses

Hello, i am Iza and this is simple analysis i made to get used to working with data in Python. My aim is to answer some questions using data about newly granted driver licences in Poland.

## About the data

Datasets come from dane.gov.pl website. They contain info about newly granted driver licenses in Poland in both 2022 and 2023. They contain month, age, sex and number of licenses granted. Unfortunately this dataset don't contain much information, but we can still do some interesting stuff with it!

## Table of contents

1. [Data load and setup](#1-data-load-and-setup)
2. In what months were the most driver's licenses granted? Are their numbers significantly higher in the summer?
3. Which voivodeships have the highest number of driving licenses obtained (per number of inhabitants)?
4. What is the difference in the number of driving licenses obtained between men and women? Does age play a factor here?
5. Which age groups get the most driving licenses?
6. How did the number of driving licenses obtained changed between 2022 and 2023? Is the difference significant?
7. Conclusion

## 1. Data load and setup

In [55]:
import pandas as pd
import matplotlib.pyplot as plt
import os

In [58]:
csv_files_22 = [f for f in os.listdir('2022') if f.endswith('.csv')] 
csv_files_23 = [f for f in os.listdir('2023') if f.endswith('.csv')]
list1 = [] 
list2 = []

for file in csv_files_22:
    file_path = os.path.join('2022', file) 
    df = pd.read_csv(file_path, encoding='utf-8', sep='|')  
    list1.append(df)

for file in csv_files_23:
    file_path = os.path.join('2023', file)  
    df = pd.read_csv(file_path, encoding='utf-8', sep='|')  
    list2.append(df)

While working with this data i encountered peculiar problem. In files about march and november 2023 there is different separator and it caused problems.

In [59]:
df_2022 = pd.concat(list1, ignore_index=True)
df_2023 = pd.concat(list2, ignore_index=True)

In [60]:
df_2022.head()

   DATA_MC  KOD_WOJ        WOJEWODZTWO PLEC  WIEK  LICZBA
0  2022-01        2  WOJ. DOLNOŚLĄSKIE    K    54       4
1  2022-01        2  WOJ. DOLNOŚLĄSKIE    K    47       5
2  2022-01        2  WOJ. DOLNOŚLĄSKIE    K    42       5
3  2022-01        2  WOJ. DOLNOŚLĄSKIE    K    20      89
4  2022-01        2  WOJ. DOLNOŚLĄSKIE    K    29      22

In [61]:
df_2023.head()

,DATA_MC,KOD_WOJ,WOJEWODZTWO,PLEC,WIEK,LICZBA,"DATA_MC,KOD_WOJ,WOJEWODZTWO,PLEC,WIEK,LICZBA"
0,2023-01,2,WOJ. DOLNOŚLĄSKIE,K,21.0,45.0,NaN
1,2023-01,2,WOJ. DOLNOŚLĄSKIE,K,63.0,1.0,NaN
2,2023-01,2,WOJ. DOLNOŚLĄSKIE,K,49.0,5.0,NaN
3,2023-01,2,WOJ. DOLNOŚLĄSKIE,K,41.0,4.0,NaN
4,2023-01,2,WOJ. DOLNOŚLĄSKIE,K,56.0,1.0,NaN